<div class="page-content">
  <h3>Gothram</h3>

  <nz-table #gothrams [nzData]="displayData" nzBordered [nzPageSize]="10" [nzSize]="'middle'"
            [nzLoading]="loading" nzTitle="Requested Gothrams">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="gothramName" nzShowFilter [nzFilters]="filteringValues['gothramName']"
          (nzFilterChange)="filterData('gothramName', $event)">Gothram Name</th>
      <th nzShowSort nzSortKey="approved" nzShowFilter [nzFilters]="filteringValues['approved']"
          (nzFilterChange)="filterData('approved', $event)">Approved</th>
      <th nzShowSort nzSortKey="approvedBy" nzShowFilter [nzFilters]="filteringValues['approvedBy']"
          (nzFilterChange)="filterData('approvedBy', $event)">Approved By</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let gothram of gothrams.data">
      <td>{{gothram.gothramName}}</td>
      <td>{{gothram.approved}}</td>
      <td>{{gothram.approvedBy}}</td>
      <td>
        <button nz-button (click)="editGothram(gothram)">Edit <i class="anticon anticon-edit"></i></button>
        <button *ngIf="!gothram.approved" nz-button nzType="danger" (click)="deleteEntity(gothram)">Delete<i class="anticon anticon-delete"></i></button>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="editAllowed" nzTitle="Create [Edit] Gothram"
            (nzOnCancel)="cancelChanges()" (nzOnOk)="updateEntity()" nzOkText="Update">

  </nz-modal>
</div>
