<div class="page-content">
  <h3>Gothram</h3>

  <nz-table #gothrams [nzData]="displayData" nzBordered [nzPageSize]="10" [nzSize]="'middle'"
            [nzLoading]="loading" nzTitle="Requested Gothrams">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="gothramName" nzShowFilter>Gothram Name</th>
      <th nzShowSort nzSortKey="approved" nzShowFilter>Approved</th>
      <th nzShowSort nzSortKey="approvedBy" nzShowFilter>Approved By</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let gothram of gothrams.data">
      <td>{{gothram.gothramName}}</td>
      <td>{{gothram.approved}}</td>
      <td>{{gothram.approvedBy}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
