#registerUser {
  left: 25%;
  top: 15%;
  position: absolute;
  width: 600px;
  border: forestgreen 1px ridge;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 20px;
}

[nz-button] {
  margin-left: 10px;
}
