<div id="registerUser">
  <form nz-form name="registerUser" [formGroup]="registerForm" (submit)="registerUser()">
    <nz-form-item *ngIf="isError">
      <nz-form-control [nzOffset]="4">
        <nz-alert [nzType]="'error'" [nzMessage]="errorMessage"></nz-alert>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="successMessage">
      <nz-form-control [nzOffset]="4">
        <nz-alert [nzType]="'success'" [nzMessage]="successMessage"></nz-alert>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="true" nzFor="firstName">First Name</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input [formControl]="registerForm.controls['firstName']" id="firstName" placeholder="First Name">
        <nz-form-explain *ngIf="registerForm.controls['firstName'].dirty &&
                    registerForm.controls['firstName'].hasError('required')"> First Name cannot be empty
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="true" nzFor="lastName">Last Name</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input [formControl]="registerForm.controls['lastName']" id="lastName" placeholder="Last Name">
        <nz-form-explain *ngIf="registerForm.controls['lastName'].dirty &&
                    registerForm.controls['lastName'].hasError('required')"> Last Name cannot be empty
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="true" nzFor="userName">User Name</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input [formControl]="registerForm.controls['userName']" id="userName" placeholder="UserName">
        <nz-form-explain *ngIf="registerForm.controls['userName'].dirty &&
                    registerForm.controls['userName'].hasError('required')"> User Name cannot be empty
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="true" nzFor="mobile">Mobile Number</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input [formControl]="registerForm.controls['mobile']" id="mobile" placeholder="Mobile Number">
        <nz-form-explain *ngIf="registerForm.controls['mobile'].dirty &&
                    registerForm.controls['mobile'].hasError('required')"> Mobile Number cannot be empty
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="true" nzFor="email">Email Address</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input type="email" [formControl]="registerForm.controls['email']" id="email" placeholder="Email">
        <nz-form-explain *ngIf="registerForm.controls['email'].dirty &&
                    registerForm.controls['email'].hasError('required')"> Email cannot be empty
        </nz-form-explain>
        <nz-form-explain *ngIf="registerForm.controls['email'].dirty &&
                    registerForm.controls['email'].hasError('email')"> Email Address is invalid format
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="true" nzFor="password">Password</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input [formControl]="registerForm.controls['password']" id="password" type="password"
               placeholder="Password">
        <nz-form-explain *ngIf="registerForm.controls['password'].dirty &&
                    registerForm.controls['password'].hasError('required')"> Password cannot be empty
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="true" nzFor="passwordRepeat">Confirm Password</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <input nz-input [formControl]="registerForm.controls['passwordRepeat']" id="passwordRepeat"
              type="password" placeholder="Confirm Password">
        <nz-form-explain *ngIf="registerForm.controls['passwordRepeat'].dirty &&
                    registerForm.controls['passwordRepeat'].hasError('doesNotMatch')"> Password do not match
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="true" nzFor="role">User Role</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-select nzAllowClear nzPlaceHolder="Role" [formControl]="registerForm.controls['role']">
          <nz-option nzValue="" nzLabel="Select Role"></nz-option>
          <nz-option *ngFor="let role of userRoles" [nzValue]="role['id']" [nzLabel]="role['value']"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="registerForm.controls['role'].dirty &&
                    registerForm.controls['role'].hasError('required')"> Role should be selected
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="6">
        <button nz-button type="submit" [nzType]="'primary'">
          <i class="anticon anticon-user-add"></i>Register User
        </button>
        <button nz-button type="button" [nzType]="'primary'" (click)="cancelRegister()">
          <i class="anticon anticon-backward"></i>Cancel
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
