<div class="form-group col-10 offset-2 ">
  <form name="primaryDetails" [formGroup]="primaryDetails" (submit)="updateUserDetails(primaryDetails.value)">
    <fieldset>
      <legend>Primary Details</legend>
      <div class="form-row form-inline login-row">
        <span class="col-10 text-success"> {{ successMessage }} </span>
      </div>
      <div class="form-row login-row">
        <span class="col-3 col-form-label text-nowrap"> First Name </span>
        <input class="form-control col-5" [formControl]="primaryDetails.controls['firstName']" title="First Name">
        <span class="col-3 text-danger" *ngIf="isRequiredError(primaryDetails.controls['firstName'])">
          First Name is mandatory </span>
      </div>
      <div class="form-row login-row">
        <span class="col-3 col-form-label text-nowrap"> Last Name</span>
        <input class="form-control col-5" [formControl]="primaryDetails.controls['lastName']" title="Last Name">
        <span class="col-3 text-danger"
              *ngIf="primaryDetails.controls['lastName'].touched && primaryDetails.controls['lastName'].hasError('required')">
            Last Name is mandatory </span>
      </div>
      <div class="form-row login-row">
        <span class="col-3 col-form-label text-nowrap"> User Name </span>
        <input class="form-control col-5" [formControl]="primaryDetails.controls['userName']" title="User Name">
        <span class="col-3 text-danger" *ngIf="isRequiredError(primaryDetails.controls['userName'])">
            User Name is mandatory </span>
      </div>
      <div class="form-row login-row">
        <span class="col-3 col-form-label text-nowrap"> Mobile Number </span>
        <input class="form-control col-5" [formControl]="primaryDetails.controls['mobile']" type="tel" title="Mobile">
        <span class="col-3 text-danger" *ngIf="isRequiredError(primaryDetails.controls['mobile'])">
            Mobile Number is mandatory </span>
      </div>
      <div class="form-row login-row">
        <span class="col-3 col-form-label text-nowrap"> Email </span>
        <input class="form-control col-5" [formControl]="primaryDetails.controls['email']" title="Email Id">
        <span class="col-3 text-danger" *ngIf="isRequiredError(primaryDetails.controls['email'])">
            User Name is mandatory           </span>
        <span class="col-3 text-danger" *ngIf="isRequiredError(primaryDetails.controls['email'], 'email')">
            Email invalid format</span>
      </div>
    </fieldset>
    <fieldset>
      <legend>Address Details</legend>
      <div class="form-row login-row" [formGroup]="address">
        <span class="col-3 col-form-label text-nowrap"> House/Flat Number</span>
        <input class="form-control col-5" [formControl]="address.controls['flatNumber']" title="Flat Number">
        <span class="col-3 text-danger" *ngIf="isRequiredError(address.controls['flatNumber'])">
          Flat Number is mandatory </span>
      </div>
      <div class="form-row login-row">
        <span class="col-3 col-form-label text-nowrap"> Street Name </span>
        <input class="form-control col-5" [formControl]="address.controls['streetName']" title="Street Name">
        <span class="col-3 text-danger" *ngIf="isRequiredError(address.controls['streetName'])">
          Street Name is mandatory </span>
      </div>
      <div class="form-row login-row">
        <span class="col-3 col-form-label text-nowrap"> City </span>
        <input class="form-control col-5" [formControl]="address.controls['city']" title="City">
        <span class="col-3 text-danger" *ngIf="isRequiredError(address.controls['city'])"> City is mandatory </span>
      </div>
      <div class="form-row login-row">
        <span class="col-3 col-form-label text-nowrap"> State </span>
        <input class="form-control col-5" [formControl]="address.controls['state']" title="State">
        <span class="col-3 text-danger" *ngIf="isRequiredError(address.controls['state'])"> State is mandatory </span>
      </div>
      <div class="form-row login-row">
        <span class="col-3 col-form-label text-nowrap"> Zip Code </span>
        <input class="form-control col-5" [formControl]="address.controls['zipCode']" title="Zip Code">
        <span class="col-3 text-danger" *ngIf="isRequiredError(address.controls['zipCode'])"> Zip Code is mandatory
        </span>
      </div>
    </fieldset>
    <div class="form-row login-row">
      <div class="col-2 offset-2">
        <button class="btn btn-outline-primary" type="submit" [disabled]="primaryDetails.invalid">Update</button>
      </div>
      <div class="col-2">
        <button class="btn btn-outline-secondary" type="reset">Reset</button>
      </div>
    </div>
  </form>
</div>
