<div class="form-group col-10 offset-2 ">
  <form name="primaryDetails" [formGroup]="primaryDetails" (submit)="updateUserDetails(primaryDetails.value)">
    <fieldset>
      <legend>Primary Details</legend>
      <div class="form-row login-row">
        <div class="col-2">
          <label>First Name</label>
        </div>
        <div class="col-5">
          <input class="form-control col-12" [formControl]="primaryDetails.controls['firstName']">
        </div>
        <div class="col-3 text-danger">
          <span
            *ngIf="primaryDetails.controls['firstName'].touched && primaryDetails.controls['firstName'].hasError('required')">
            First Name is mandatory
          </span>
        </div>
      </div>
      <div class="form-row login-row">
        <div class="col-2">
          <label>Last Name</label>
        </div>
        <div class="col-5">
          <input class="form-control col-12" [formControl]="primaryDetails.controls['lastName']">
        </div>
        <div class="col-3 text-danger">
          <span
            *ngIf="primaryDetails.controls['lastName'].touched && primaryDetails.controls['lastName'].hasError('required')">
            Last Name is mandatory
          </span>
        </div>
      </div>
      <div class="form-row login-row">
        <div class="col-2">
          <label>User Name</label>
        </div>
        <div class="col-5">
          <input class="form-control col-12" [formControl]="primaryDetails.controls['userName']">
        </div>
        <div class="col-3 text-danger">
          <span
            *ngIf="primaryDetails.controls['userName'].touched && primaryDetails.controls['userName'].hasError('required')">
            User Name is mandatory
          </span>
        </div>
      </div>
      <div class="form-row login-row">
        <div class="col-2">
          <label>Mobile Number</label>
        </div>
        <div class="col-5">
          <input class="form-control col-12" [formControl]="primaryDetails.controls['mobile']" type="tel">
        </div>
        <div class="col-3 text-danger">
          <span
            *ngIf="primaryDetails.controls['mobile'].touched && primaryDetails.controls['mobile'].hasError('required')">
            Mobile Number is mandatory
          </span>
        </div>
      </div>
      <div class="form-row login-row">
        <div class="col-2">
          <label>Email</label>
        </div>
        <div class="col-5">
          <input class="form-control col-12" [formControl]="primaryDetails.controls['email']">
        </div>
        <div class="col-3 text-danger">
          <span
            *ngIf="primaryDetails.controls['email'].touched && primaryDetails.controls['email'].hasError('required')">
            User Name is mandatory
          </span>
          <span *ngIf="primaryDetails.controls['email'].touched && primaryDetails.controls['email'].hasError('email')">
            Email invalid format</span>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Address Details</legend>
      <div class="form-row login-row" [formGroup]="primaryDetails.controls['address']">
        <div class="col-2">
          <label>House/Flat Number</label>
        </div>
        <div class="col-5">
          <input class="form-control col-12" [formControl]="primaryDetails.controls['address'].controls['flatNumber']">
        </div>
        <div class="col-3 text-danger">
          <span *ngIf="primaryDetails.controls['address'].controls['flatNumber'].touched &&
              primaryDetails.controls['address'].controls['flatNumber'].hasError('required')"> Flat Number is mandatory
          </span>
        </div>
      </div>
      <div class="form-row login-row">
        <div class="col-2">
          <label>Street Name</label>
        </div>
        <div class="col-5">
          <input class="form-control col-12" [formControl]="primaryDetails.controls['address'].controls['streetName']">
        </div>
        <div class="col-3 text-danger">
          <span *ngIf="primaryDetails.controls['address'].controls['streetName'].touched &&
             primaryDetails.controls['address'].controls['streetName'].hasError('required')"> Street Name is mandatory
          </span>
        </div>
      </div>
      <div class="form-row login-row">
        <div class="col-2">
          <label>City</label>
        </div>
        <div class="col-5">
          <input class="form-control col-12" [formControl]="primaryDetails.controls['address'].controls['city']">
        </div>
        <div class="col-3 text-danger">
          <span *ngIf="primaryDetails.controls['address'].controls['city'].touched &&
            primaryDetails.controls['address'].controls['city'].hasError('required')"> City is mandatory
          </span>
        </div>
      </div>
      <div class="form-row login-row">
        <div class="col-2">
          <label>State</label>
        </div>
        <div class="col-5">
          <input class="form-control col-12" [formControl]="primaryDetails.controls['address'].controls['state']">
        </div>
        <div class="col-3 text-danger">
          <span *ngIf="primaryDetails.controls['address'].controls['state'].touched &&
            primaryDetails.controls['address'].controls['state'].hasError('required')"> State is mandatory
          </span>
        </div>
      </div>
      <div class="form-row login-row">
        <div class="col-2">
          <label>Zip Code</label>
        </div>
        <div class="col-5">
          <input class="form-control col-12" [formControl]="primaryDetails.controls['address'].controls['zipCode']">
        </div>
        <div class="col-3 text-danger">
          <span *ngIf="primaryDetails.controls['address'].controls['zipCode'].touched &&
            primaryDetails.controls['address'].controls['zipCode'].hasError('required')"> Zip Code is mandatory
          </span>
        </div>
      </div>
    </fieldset>
    <div class="form-row login-row">
      <div class="col-2 offset-2">
        <button class="btn btn-outline-primary" type="submit" [disabled]="primaryDetails.invalid">Update</button>
      </div>
      <div class="col-2">
        <button class="btn btn-outline-secondary" type="reset">Reset</button>
      </div>
    </div>
  </form>
</div>
