.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #85d894;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #258535;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #0a260f;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #0f3917 !important;
}
#sidebar ul li a:hover {
  color: #0f3917 !important;
  background: #fff;
}

#sidebar ul li.active > a {
  color: #fff;
  background: #35BF4D !important;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #49c55e !important;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #71d282 !important;
}
