<nav class="navbar navbar-light bg-green mb-5">
  <a class="navbar-brand" href="/">Vadhyar Online</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      Hello
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" *ngIf="showMenu" (click)="logOut()">
        Log out <i class="fa fa-sign-out" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav>

<amexio-side-nav [http-url]="'assets/menu/menu.data.json'" [http-method]="'get'" (nodeClick)="nodeClicked($event)"
                 *ngIf="showMenu" [data-reader]="dataReader" [width]="'20%'" [position]="'absolute'">
</amexio-side-nav>

