<div class="container-fluid row col-4 offset-2 shadow-lg" id="loginForm">
  <div class="form-group offset-2" id="loginSection">
    <form name="loginForm" [formGroup]="loginForm">
      <div class="row form-inline login-row text-left">
        <label for="userName" class="sr-only">UserName</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i-user></i-user>
            </div>
          </div>
          <input type="text" id="userName" class=" col-8 form-control"
                 [formControl]="loginForm.controls['userName']" placeholder="User Name">
        </div>
        <span class="text-danger" *ngIf="loginForm.controls['userName'].touched && loginForm.controls['userName'].hasError('required')">
          User name cannot be empty
        </span>
      </div>
      <div class="row form-inline login-row  text-left">
        <label for="password" class="sr-only">Password</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i-eye-off></i-eye-off>
            </div>
          </div>
          <input type="password" id="password" class=" col-8 form-control"
                 [formControl]="loginForm.controls['password']" placeholder="Password">
        </div>
        <span class="text-danger" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].hasError('required')">
          Password cannot be empty
        </span>
      </div>
      <div class="row form-inline login-row  text-left" *ngIf="isError">
        <span class="text-danger label">{{ errorMessage }}</span>
      </div>
      <div class="row form-inline login-row">
        <button class="btn btn-outline-primary" (click)="login()">
          <i-log-in></i-log-in>
          Login
        </button>
        <button class="btn btn-outline-success offset-1" (click)="registerNow()">
          <i-user-plus></i-user-plus>
          Register
        </button>
      </div>
    </form>
  </div>
</div>
