<div class="container-fluid container row col-5 offset-3 shadow-lg" id="changePassword">
  <div class="offset-2 form-group" id="changePasswordSection">
    <form name="changePasswordForm" [formGroup]="changePwdForm" (submit)="changePassword(changePwdForm.getRawValue())">

      <div class="row form-inline text-left login-row" *ngIf="isAdmin">
        <label for="userId" class="sr-only">For User</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i-user>User</i-user>
            </div>
          </div>
          <select class="col-8 custom-select" [formControl]="changePwdForm.controls['userId']" id="userId" title="User">
            <option value="">Select User</option>
            <option *ngFor="let user of userList" [value]="user.id">{{user.name}}</option>
          </select>
        </div>
        <span class="text-danger" *ngIf="isRequiredError(changePwdForm.controls['userId'])">
          User name cannot be empty
        </span>
      </div>
      <div class="row form-inline text-left login-row">
        <label for="oldPassword" class="sr-only">Old Password</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i-eye-off>Eye Off</i-eye-off>
            </div>
          </div>
          <input type="password" class="col-8 form-control" placeholder="Old Password" id="oldPassword"
                 [formControl]="changePwdForm.controls['oldPassword']">
        </div>
        <span class="text-danger" *ngIf="isRequiredError(changePwdForm.controls['oldPassword'])">
          Old Password cannot be empty
        </span>
      </div>
      <div class="row form-inline text-left login-row">
        <label for="newPassword" class="sr-only">New Password</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i-eye-off>Eye Off</i-eye-off>
            </div>
          </div>
          <input type="password" class="col-8 form-control" placeholder="New Password" id="newPassword"
                 [formControl]="changePwdForm.controls['newPassword']">
        </div>
        <span class="text-danger" *ngIf="isRequiredError(changePwdForm.controls['newPassword'])">
          New Password cannot be empty
        </span>
      </div>
      <div class="row form-inline text-left login-row">
        <label for="newPasswordRepeat" class="sr-only">Repeat New Password</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i-eye-off>Eye Off</i-eye-off>
            </div>
          </div>
          <input type="password" class="col-8 form-control" placeholder="Repeat New Password" id="newPasswordRepeat"
                 [formControl]="changePwdForm.controls['newPasswordRepeat']">
        </div>
        <span class="col-4 text-nowrap text-danger"
              *ngIf="isRequiredError(changePwdForm.controls['newPasswordRepeat'],'doesNotMatch')">
          Password do not match</span>
      </div>
      <div class="row form-inline login-row  text-left" *ngIf="isError">
        <span class="text-danger label">{{ errorMessage }}</span>
      </div>
      <div class="row form-inline login-row">
        <button class="btn btn-outline-primary" type="submit" [disabled]="changePwdForm.invalid">
          <i-play>Update</i-play>
          Update
        </button>
        <button class="btn btn-outline-secondary offset-1" type="reset">
          <i-user-plus>Reset</i-user-plus>
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
