<div class="page-content">
  <h3>Gothram</h3>

  <nz-table #gothrams [nzData]="displayData" nzBordered [nzPageSize]="10" [nzSize]="'middle'"
            [nzLoading]="loading" nzTitle="Unapproved Gothrams">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="eventCategoryName" nzShowFilter>Gothram Name</th>
      <th nzShowSort nzSortKey="requestedBy" nzShowFilter>Requested By</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let gothram of gothrams.data">
      <td>{{gothram.gothramName}}</td>
      <td>{{gothram.requestedBy}}</td>
      <td>
        <button nz-button [nzType]="'primary'">Approve</button>
        <button nz-button [nzType]="'default'">Update</button>
        <button nz-button [nzType]="'danger'">Delete</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
