<div class="page-content">
  <h3>Soothram</h3>

  <nz-table #soothrams [nzData]="displayData" nzBordered [nzPageSize]="10" [nzSize]="'middle'"
            [nzLoading]="loading" nzTitle="Unapproved Soothrams">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="soothramName" nzShowFilter [nzFilters]="filteringValues['soothramName']"
          (nzFilterChange)="filterData('soothramName', $event)">Soothram Name</th>
      <th nzShowSort nzSortKey="requestedBy" nzShowFilter [nzFilters]="filteringValues['requestedBy']"
          (nzFilterChange)="filterData('requestedBy', $event)">Requested By</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let soothram of soothrams.data">
      <td>{{soothram.soothramName}}</td>
      <td>{{soothram.requestedBy}}</td>
      <td>
        <button nz-button [nzType]="'primary'">Approve</button>
        <button nz-button [nzType]="'default'">Update</button>
        <button nz-button [nzType]="'danger'">Delete</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
