.ant-layout-header {
  background-color: #258535 !important;
}

ul.ant-menu-horizontal {
  background-color: #258535 !important;
}

.ant-layout-sider {
  background-color: #ffffff !important;
}

.ng-star-inserted {
  color: #0a260f !important;
}


