<nav class="navbar fixed-top flex-md-nowrap p-0 shadow" id="header-nav" [class.afterLoggedin]="isLoggedIn">
  <span class="h3 align-text-top col-4 offset-4">Vadhyar Online</span>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap form-inline" *ngIf="isLoggedIn">
      <a class="nav-item">Namaskaram {{userName}}! </a>
      <a class="nav-link" (click)="logout()"><i-log-out></i-log-out>Sign out</a>
    </li>
  </ul>
</nav>
<div class="container-fluid" id="mainContent">
  <div class="row" >
    <app-menu *ngIf="isLoggedIn"></app-menu>
    <main class="col-md-9" role="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
