<div class="page-content">
  <h3>Soothram</h3>

  <nz-table #soothrams [nzData]="displayData" nzBordered [nzPageSize]="10" [nzSize]="'middle'"
            [nzLoading]="loading" nzTitle="Requested Soothrams">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="soothramName" nzShowFilter>Soothram Name</th>
      <th nzShowSort nzSortKey="approved" nzShowFilter>Approved</th>
      <th nzShowSort nzSortKey="approvedBy" nzShowFilter>Approved By</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let soothram of soothrams.data">
      <td>{{soothram.soothramName}}</td>
      <td>{{soothram.approved}}</td>
      <td>{{soothram.approvedBy}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
