<div class="page-content">

  <h3>Event Category</h3>

  <nz-table #eventCategory [nzData]="displayData" nzBordered [nzPageSize]="10" [nzSize]="'middle'"
            [nzLoading]="loading" nzTitle="Requested Event Category">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="eventCategoryName" nzShowFilter>Name</th>
      <th nzShowSort nzSortKey="approved" nzShowFilter>Approved</th>
      <th nzShowSort nzSortKey="approvedBy" nzShowFilter>Approved By</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of eventCategory.data">
      <td>{{category.eventCategoryName}}</td>
      <td>{{category.approved }}</td>
      <td>{{category.approvedBy}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
