<div class="page-content">

  <h3>Event Category</h3>

  <nz-table #eventCategory [nzData]="displayData" nzBordered [nzPageSize]="10" [nzSize]="'middle'"
            [nzLoading]="loading" nzTitle="Requested Event Category">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="eventCategoryName" nzShowFilter [nzFilters]="filteringValues['eventCategoryName']"
          (nzFilterChange)="filterData('eventCategoryName', $event)">Name</th>
      <th nzShowSort nzSortKey="approved" nzShowFilter [nzFilters]="filteringValues['approved']"
          (nzFilterChange)="filterData('approved', $event)">Approved</th>
      <th nzShowSort nzSortKey="approvedBy" nzShowFilter [nzFilters]="filteringValues['approvedBy']"
          (nzFilterChange)="filterData('approvedBy', $event)">Approved By</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of eventCategory.data">
      <td>{{category.eventCategoryName}}</td>
      <td>{{category.approved }}</td>
      <td>{{category.approvedBy}}</td>
      <td>
        <button nz-button (click)="editEventCategory(category)">Edit <i class="anticon anticon-edit"></i></button>
        <button *ngIf="!category.approved" nz-button (click)="deleteEntity(category)">Delete<i class="anticon anticon-delete"></i></button>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="editAllowed" nzTitle="Create [Edit] Event Category"
            (nzOnCancel)="cancelChanges()" (nzOnOk)="updateEntity()" nzOkText="Update">

  </nz-modal>
</div>
