<div class="page-content">

  <h3>Event Category</h3>

  <nz-table #eventCategory [nzData]="displayData" nzBordered [nzPageSize]="10" [nzSize]="'middle'"
            [nzLoading]="loading" nzTitle="Unapproved Event Category">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="eventCategoryName" [nzFilters]="filteringValues['eventCategoryName']"
          (nzFilterChange)="filterData('eventCategoryName', $event)" nzShowFilter>Name
      </th>
      <th nzShowSort nzSortKey="requestedBy" nzShowFilter [nzFilters]="filteringValues['requestedBy']"
          (nzFilterChange)="filterData('requestedBy', $event)">Requested By
      </th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of eventCategory.data">
      <td>{{category.eventCategoryName}}</td>
      <td>{{category.requestedBy}}</td>
      <td>
        <button *ngIf="!category.approved" nz-button [nzType]="'primary'" (click)="approveEntity(category)">Approve
        </button>
        <button nz-button [nzType]="'default'" (click)="editEventCategory(category)">
          Update <i class="anticon anticon-edit"></i>
        </button>
        <button *ngIf="!category.approved" nz-button [nzType]="'danger'" (click)="deleteEntity(category)">
          Delete <i class="anticon anticon-delete"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <nz-modal [(nzVisible)]="editAllowed" nzTitle="Edit Event Category"
            (nzOnCancel)="cancelChanges()" (nzOnOk)="updateEntity()" nzOkText="Update">
    <form nz-form name="eventCategoryForm" [formGroup]="eventCategoryForm"
          (submit)="updateEntity(eventCategoryForm.value)">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="true" nzFor="eventCategoryName">Event Category Name
        </nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input [formControl]="eventCategoryForm.controls['eventCategoryName']" id="eventCategoryName"
                 placeholder="Category Name">
          <nz-form-explain *ngIf="eventCategoryForm.controls['eventCategoryName'].dirty &&
                    eventCategoryForm.controls['eventCategoryName'].hasError('required')"> Category Name cannot be empty
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>

</div>
