
#loginSection {
  padding-top: 25px;
  height: 300px;
  width: 500px;
  left: 30%;
  top: 25%;
  position: absolute;
  border: forestgreen 1px ridge;
  padding-right: 25px;
  padding-top: 15px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 45%;
}

.register-form-button {
  width: 45%;
}

[nz-form] {
  max-width: 400px;
}

[nz-button] {
  margin-left: 10px;
}
