
#loginSection {
  padding-top: 25px;
  height: 350px;
  width: 500px;
  left: 30%;
  position: absolute;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 45%;
}

.register-form-button {
  width: 45%;
}

[nz-form] {
  max-width: 400px;
}

[nz-button] {
  margin-left: 10px;
}
